<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jys.smartbudget.mapper.ExpenseMapper">

    <select id="getExpenses" resultType="com.jys.smartbudget.dto.ExpenseDTO">
        SELECT *
        FROM expense
        WHERE user_id = #{userId}
        AND account_number = #{accountNumber}
        AND year = #{year}
        AND month = #{month}
        <if test="lastDay != null and lastId != null">
            AND (day <![CDATA[<]]> #{lastDay} 
                OR (day = #{lastDay} AND id <![CDATA[<]]> #{lastId}))
        </if>
        ORDER BY day DESC, id DESC
        LIMIT #{size}
    </select>

    <!-- 지출 등록 -->
    <insert id="insertExpense" parameterType="com.jys.smartbudget.dto.ExpenseDTO">
        INSERT INTO expense (
            user_id, account_number, amount, merchant_name, approval_no, year, month, day, transacted_at
        ) VALUES (
            #{userId}, #{accountNumber}, #{amount}, #{merchantName}, #{approvalNo}, #{year}, #{month},
            #{day}, #{transactedAt}
            )
    </insert>

        <select id="findByApprovalNo" parameterType="string" resultType="com.jys.smartbudget.dto.ExpenseDTO">
        SELECT 
            id,
            user_id,
            account_number,
            amount,
            merchant_name,
            approval_no,
            year,
            month,
            day,
            status,
            transacted_at
        FROM expense
        WHERE approval_no = #{approvalNo}
    </select>

    <select id="findExpensesByDate" parameterType="java.time.LocalDate" resultType="com.jys.smartbudget.dto.ExpenseDTO">
        SELECT 
            id,
            user_id,
            account_number,
            amount,
            merchant_name,
            approval_no,
            year,
            month,
            day,
            status,
            transacted_at
        FROM expense
        WHERE year = YEAR(#{yesterday})
          AND month = MONTH(#{yesterday})
          AND day = DAY(#{yesterday})
    </select>


    <update id="updateStatusVerified" parameterType="string">
        UPDATE expense
        SET status = 'VERIFIED'
        WHERE UPPER(TRIM(approval_no)) = UPPER(TRIM(#{approvalNo}))
    </update>

</mapper>
