<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jys.smartbudget.mapper.ExpenseMapper">

    <select id="getExpenses" resultType="com.jys.smartbudget.dto.ExpenseDTO">
        SELECT *
        FROM expense
        WHERE user_id = #{userId}
        AND account_number = #{accountNumber}
        AND year = #{year}
        AND month = #{month}
        <if test="lastDay != null and lastId != null">
            AND (day <![CDATA[<]]> #{lastDay} 
                OR (day = #{lastDay} AND id <![CDATA[<]]> #{lastId}))
        </if>
        ORDER BY day DESC, id DESC
        LIMIT #{size}
    </select>

    <select id="getExpenseStatistics" resultType="com.jys.smartbudget.dto.StatisticsDTO">
        SELECT b.category_code as code, e_sum.total_amount as totalAmount
        FROM (
            SELECT budget_id, SUM(amount) as total_amount
            FROM expense
            WHERE user_id = #{userId} AND year = #{year} AND month = #{month}
            GROUP BY budget_id
        ) e_sum
        JOIN budget b ON b.id = e_sum.budget_id;
    </select>

    <!-- 지출 등록 -->
    <insert id="insertExpense" parameterType="com.jys.smartbudget.dto.ExpenseDTO">
        INSERT INTO expense (
            user_id, account_number, amount, merchant_name, approval_no, year, month, day, transacted_at
        ) VALUES (
            #{userId}, #{accountNumber}, #{amount}, #{merchantName}, #{approvalNo}, #{year}, #{month},
            #{day}, #{transactedAt}
            )
    </insert>

    <!-- 지출 수정 -->
    <update id="updateExpense" parameterType="com.jys.smartbudget.dto.ExpenseDTO">
        UPDATE expense
        SET amount = #{amount},
            description = #{description},
            year = #{year},
            month = #{month},
            day = #{day},
            version = version + 1
        WHERE id = #{id}
          AND user_id = #{userId}
          AND version = #{version}
    </update>

    <!-- 지출 삭제 (PK + userId 체크) -->
    <delete id="deleteExpenseByIdAndUserId">
        DELETE FROM expense
        WHERE id = #{id} AND user_id = #{userId}
    </delete>

    <delete id="deleteExpensesByUserId">
        DELETE FROM expense
        WHERE user_id = #{userId}
    </delete>

    <select id="checkOverBudget" resultType="boolean" parameterType="com.jys.smartbudget.dto.ExpenseDTO">
        SELECT 
            CASE 
                WHEN (
                    (SELECT COALESCE(SUM(amount), 0) 
                    FROM expense 
                    WHERE budget_id = #{budgetId} 
                    AND year = #{year} 
                    AND month = #{month})
                    + #{amount}
                ) > (SELECT amount FROM budget WHERE id = #{budgetId})
                THEN 1
                ELSE 0
            END AS overBudget
    </select>

    <select id='findLatestExpense'>
        SELECT year, month
        FROM expense
        WHERE user_id = #{userId}
        ORDER BY year DESC, month DESC
        LIMIT 1
    </select>

    <select id="hasExpensesByBudgetId" resultType="int">
        SELECT COUNT(*)
        FROM expense
        WHERE budget_id = #{budgetId}
    </select>


</mapper>
